<%- include('partials/header'); -%>
<div class="container">
  <h1>About Me</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis facere consectetur quo, ea fugiat quaerat.</p>
</div>
<%- include('partials/footer'); -%>